@-moz-document url(https://ulms.ulsan.ac.kr/) {
    .progress_courses .course_lists .my-course-lists .course-name h3 {
        margin: 0;
        font-size: 16px;
        font-weight: 700;
        color: #377B01;
        margin-bottom: 4px;
        padding-top: 3px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        line-height: 24px;
    }
    
    .progress_courses .course_lists .my-course-lists a {
        display: block;
        padding: 21px 20px;
        text-decoration: none;
        background-color: #333333;
    }
    
    .coursemos-layout-course #region-main, .coursemos-layout-course.dir-ltr.editing.used-region-side-post.used-region-side-pre #region-main, #region-main {
        padding: 32px 40px;
        position: relative;
        min-height: 600px;
        background-color: #404040;
    }

    .block {
        margin: 0;
        border-radius: 0;
        border: 0;
        border-bottom: 1px solid #d9dbdb;
        box-shadow: none;
        background-color: #333333;
    }

    .block .header {
        padding: 22px 18px;
        border: 1;
        border-radius: 0;
        border-bottom: 1px solid #ebebeb;
        background-color: #404040;
    }

}


